.upload_section{
    font-size: 15px;
    color: gray;
}
button{
    display: block;
    margin: auto;
}
p{
    color: rgb(184, 39, 39);
    font-size: 12px;
    margin-top: -25px;
    margin-left: 39px;
}
